<html>
<head>
	<title></title>
	  	<script type='text/javascript' src='/bower_components/jquery/dist/jquery.min.js'></script>
	 	<script type='text/javascript' src='/bower_components/bootstrap/dist/js/bootstrap.min.js'></script>
	 	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">

	  	<script type='text/javascript' src='/bower_components/underscore/underscore-min.js'></script>
			<!-- postit -->
		<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
		<script type="text/javascript" src="/javascripts/app.js"></script>

</head>
<body>
<!-- 	<div class="row">
		<div class='col-md-4'></div>
		<div class="col-md-3">
	     	<div class="well well-sm">
 -->
				<form id="uploadForm" enctype="multipart/form-data" action="/api/photo" method="post" >
					<input type="file" id="userPhoto" name="userPhoto">
					<textarea id="imgDes" name="img[description]"></textarea><br>
					<input type="submit" value="Upload Image" name="submit">
				</form>

<!-- 		    </div>
	    </div>
	    <div class='col-md-4'></div>
	</div> -->

	<ul class="list-group" id="pic-ul">
    </ul>
</body>
<script type="text/template" id="pic-template">
    <li class='list-group-item' style="margin-top: 20px"><%= templateUser.first_name %> <%= templateUser.last_name %></li>
    <% _.each(templateUser.pictures, function(img){ %>
    	<li class='list-group-item'> <img src="<%= img.fpath %>" style="width:280px"> 
    		<button data-id="<%= img._id %>" onclick="View.delete(this)" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    		<p> <%= img.description %> </p>
    	</li>

    <% }) %>
</script>
</html>