.account-box {
    border: 3px solid rgba(153, 153, 153, 0.75);
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    -khtml-border-radius: 25px;
    -o-border-radius: 25px;
    z-index: 3;
    font-size: 13px !important;
    font-family: "Helvetica Neue" ,Helvetica,Arial,sans-serif;
    background-color: #ffffff;
    padding: 20px;
    margin: 40px 0px 0px 0px;
    border-color: #6C2078;
}

.logo {
    width: 138px;
    height: 40px;
    text-align: center;
    margin: 20px 0px 27px 40px;
    background-position: 0px -4px;
    position: relative;
    color: rgba(189, 12, 217, 1);
    font-size: 30px;
    font-family: comic-sans;
}

.forgotLnk {
    margin-top: 10px;
    display: block;
}

.purple-bg {
    background-color: rgba(190, 144, 212, 1);
    color: #fff;
    outline: none;
    border: 2px solid #6C2078;
}
.btn-block:hover {
    background-color: #6C2078;
    outline: none;
    border: 2px solid #6C2078;
    border-color: #6C2078;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}
#first_name {
    outline: none;
    border: 2px solid #6C2078;
    border-color: #6C2078;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    color: #6C2078;
}
#last_name {
    outline: none;
    border: 2px solid #6C2078;
    border-color: #6C2078;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    color: #6C2078;
}
#email{
    outline: none;
    border: 2px solid #6C2078;
    border-color: #6C2078;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    color: #6C2078;
}

#uploadForm {
    background-color: rgba(190, 144, 212, 1);
    border: 2px solid #6C2078;
    border-radius: 25px;
    padding: 20px;
    padding-left: 150px;
    margin: 40px 0px 40px 0px; 
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

#password{
    outline: none;
    border: 2px solid #6C2078;
    border-color: #6C2078;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    color: #6C2078;
}
.or-box {
    position: relative;
    border-top: 1px solid #dfdfdf;
    padding-top: 20px;
    margin-top:20px;
}
.or {
    color: #666666;
    background-color: #ffffff;
    position: absolute;
    text-align: center;
    top: -8px;
    width: 40px;
    left: 90px;
}
.account-box .btn:hover
{
    color: #fff;
}
.btn-primary {
    background-color: rgba(190, 144, 212, 1);
    border: 2px solid #6C2078;
    color: #fff;
    font-size: 16px;
}
.form-control {
    border-color: #6C2078;
}


.panel-heading{
    border-radius: 25px;
}
.panel-default {
    margin: 40px 0px 0px 0px;
    border: 3px solid #6C2078;
    border-radius: 25px;
}
.panel-title {
    color: rgba(189, 12, 217, 1);
    font-size: 30px;
    font-family: comic-sans;
}
.btn-info {
    background-color: rgba(190, 144, 212, 1);
    border: 2px solid #6C2078;
    color: #fff;
    font-size: 16px;
}


#userPhoto {
    color: #6C2078;
    font-size: 16px;
}
#imgDes {
    color: #6C2078;
    background-color: rgba(190, 144, 212, 1); 
    font-size: 16px; 
    outline: none;
    border: 1px solid #6C2078;
    border-color: #6C2078;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.list-group-item {
    border: 2px solid #6C2078;
    border-top-left-radius: 25px;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    text-align: center;
    color: rgba(189, 12, 217, 1);
    font-size: 30px; 
    border-color: #6C2078;
    padding: 10px;
}
.form-inline {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #D551DD;
    font-size: 15px; 
    border-color: #6C2078;
    padding: 10px;
}
.btn-default {
    background-color: #fff;
    border-color: #fff;
    color: #D551DD;
    font-weight: bold;
    font-size: 16px;
    width: 10%;
}
li p {
    color: rgba(187, 87, 203, 1);
    font-size: 16px; 
    text-align: center;
}
